<?xml version="1.0"?>
<robot name="dabakama_ai">

    <material name="blue">
        <color rgba="0 0 1 1" />
    </material>

    <material name="red">
        <color rgba="1 0 0 1" />
    </material>
    
    <material name="green">
        <color rgba="0 1 0 1" />
    </material>

    <material name="yellow">
        <color rgba="1 1 0 1" />
    </material>

    <material name="orange">
        <color rgba="1 0.75 0 1" />
    </material>

    <material name="purple">
        <color rgba="1 0 1 1" />
    </material>

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>
    

</robot>